
    /* SETTING PADDING & MARGIN OF ALL ELEMENT ZERO */
*{
    padding: 0; 
    margin: 0;
}
body{
    overflow: hidden;
}
#container{
    background-image: url("Home2.jpg");
    height: 100vh;
    /* Sets the image to occupy the div */
    background-size: cover;
    /* Reducing the brightness of the background image */
    background-color: rgba(0, 0, 0, 0.719);
    background-blend-mode: color-burn;
}
nav{
    /* switch background color to black and sets box shadow to white */
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 5px 5px 10px rgba(199, 199, 199, 0.199);
    /* Setting height to automatically fit with content */
    height: auto;
    /* Positioning list items to center */
    text-align: center;
}
nav ul li{
    /* Aligning list items horizontally */
    display:inline-block;
    /* distribute spacing around li text */
    padding: 20px 30px;
}
nav ul li a{
    /* sets color to white(default is blue) */
    color: white;
    /* removes the underline from the anchor tag */
    text-decoration: none;
    /* increasing font size */
    font-size: 22px;
    /* Changing font family */
    font-family:'Courier New', Courier, monospace;
    /* Speed in which the hover effect will take place */
    transition: 0.5s;
}
  /* Sets color of link to goldenrod whenever a user mouse over it */
nav ul li a:hover{
    color: goldenrod;
}
.one{
    width: 40%;
    /* background-color: green; */
    margin-top:30vh;
    margin-left: 10vh;
    color: white;
    float: left;
}
.one h2{
    /* increasing font size */
    font-size: 70px;
    /* Changing font family */
    font-family:'Courier New', Courier, monospace;
}
.one p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one button{
    margin-top: 10px;
    background-color: goldenrod;
    border:1px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.one button:hover{
    background-color: transparent;
    color: white;
    border:1px solid goldenrod;
}


/* STYLE FOR FORM */
form{
    width: 30%;
    float: right;
    margin-top:30vh;
    margin-right: 10vh;
    color: white;
}
legend{
    margin-left: 10px;
    color: goldenrod;
    font-size: 25px;
    font-family: Impact;
}
input,textarea{
    display: block;
    height: 20px;
    width: 70%;
    margin: 25px auto;
    padding: 5px;
}
textarea{
    height: 100px;
}
input[type="submit"]{
    height: 30px;
    width: 50%;
}